<!DOCTYPE html>
<html data-ng-app="Library">
    <head>
        <title>RESTful Library</title>
        <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL}}css/angular-ui.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/angular.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/angular-resource.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/angular-ui.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
    </head>

<body ng-controller="BookController">
    <header>
        <div class="container">
            <h1>RESTful Library</h1>
            <div class="user-selector">
                <select
                    ng-model="user"
                    ng-change="getBooks(user)"
                    ng-options="user as user.full_name for user in users.objects">
                </select>
            </div>
        </div>
    </header>

    <div ng-show="showLibrary" class="container">
        <div class="frame-left">
            <h3>New Book</h3>
            <form>
                <input ng-model="newBook.title" type="text" placeholder="Insert title..." />
                <button ng-click="save(newBook)">Save</button>
            </form>
            <div id="status" class="{[ statusClass ]}">
                <p>{[ statusMessage ]}</p>
            </div>
        </div>

        <div class="frame-right">
            <input type="text" ng-model="bookFilter.title" placeholder="Filter..." />
            <table class="books">
                <thead>
                    <tr>
                        <th>Book List
                            <a class="right" ng-click="setOrder('title')">&#9650;</a>
                            <a class="right" ng-click="setOrder('-title')">&#9660;</a>
                        </th>
                        <th>Read
                            <a class="right" ng-click="setOrder('read')">&#9650;</a>
                            <a class="right" ng-click="setOrder('-read')">&#9660;</a>
                        </th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books.objects | filter: bookFilter | orderBy: orderBooks" ui-animate>
                        <td>
                            <div ng-show="showEditor">
                                <input type="text" ng-model="newTitle" ng-required />
                                <button ng-click="setTitle(book)">Save</button>
                                <button ng-click="disableEditor()">Cancel</button>
                            </div>
                            <span ng-hide="showEditor" ng-click="enableEditor()">{[ book.title ]}</span>
                        </td>
                        <td><input type="checkbox" ng-model="book.read" ng-click="update(book)"></td>
                        <td><button ng-click="remove(book)">-</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
